{% extends "layout.html" %}
{% block title %}
<title>監視クラスタ削除</title>
{% endblock title %}
{% block content %}
<h2>監視クラスタ削除</h2>
<form method="post" action="{{ url_for('rasgrp_detail', id=id) }}">
  <fieldset>
    <table class="table"><tbody>
	{% for field in form %}
	<tr>
	  {% if field.name == 'cell' %}
	  <td> {{ field.label }}</td>
	  <td> {{ form.get_cell_name(field.data) }}</td>
	  {% else %}
	  <td> {{ field.label }}</td>
	  <td> {{ field.data }}</td>
	  {% endif %}
	</tr>
	{% endfor %}
    </tbody></table>
    <button type="submit" class="btn btn-default">削除</button>
    <input type=hidden name=operation id=operation value=Delete>
  </fieldset>
</form>
{% endblock content %}
